body,html{
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Perpetua", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
}

.bkImg {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#video_bck {
  position: fixed;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  #video_bck{
    width: 100%;
    height:auto;
  }
}

@media (max-aspect-ratio:16/9) {
  #video_bck{
    width:auto;
    height: 100%
  }
}

.bkText{
  position:absolute;
  top:45%;
  width: 100%;
  text-align: center;
  color: #FFFFFF;
  font-size: 7vw;
  font-family: serif;
  letter-spacing: 1vw;
  text-transform: uppercase;
}
